*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  */

    
}
html body{
    background-color: #f6f4fe;

}
body{
    height: 300rem;
    overflow-x: hidden;
}
.container{
    background-color: #f6f4fe;


}
:root{
    --main-color:#545579;
    --text-color:#6a49f2;
    --title-color:#32236f;
    --pargraph-color: #747493;
    --bg-color:#f6f4fe;
    --link-color:#3e3f66;
    }

@media(max-width:767px){
    .Nav{
        position: fixed;
        width: 100%;
        z-index: 5;
        /* background-color: #dfdfdf; */
    }
    nav i{
        font-size: 30px;
        color: var(--link-color);
    }
    nav .list{
        display: none;
    }
    nav .fa-bars-staggered{
        display: block;
    }
    nav .list{
        width: 100%;
        height: 100%;
        top: 49px;
        left: 0;
        position: fixed;
        background-color: var(--text-color);

        padding: 20px 15px;
        box-shadow: 0 4px 10px #EDE9FE;
        z-index: 5;
    }
    .Nav.NavView{
        position: fixed;
        width: 100%;
        z-index: 6;
        background-color:#FFFFFF;
        background-color:rgba(255, 255, 255, 0.706);
        color: var(--link-color);
    }
    nav .list.blk{
        display: block;
        
    }
    nav .list li{
        margin-bottom: 1.5rem;
        margin-left: auto;
        text-align: center;
        padding: 14px 0px;
        color: white;
    }
    nav .list li:hover{
        background-color: #dfdfdf;
        color: #32236f;

    }    
    nav .list li a{
        color: white;
    }
    nav .list li a{
        color: white;
    }
    nav .list li .Free{
        margin-top: 5px;
        background-color: var(--bg-color);
        color: var(--title-color);
    }
    header{
        text-align: center;
        margin-bottom: 11rem;
    }
    .user{
        margin-left: 4rem;
    }
    .left{
        margin: 5rem auto;
        padding-top: 95px;
    }
    .left h2{
        font-size: 30px;
    }
    .right{
        height: 26rem;
    }
    .bg{
        width: 266px;
        height: 532px;
        /* margin: auto; */
    }
    .bg img:nth-child(1){
        position: absolute;
        left: 174px;
        top: 59px;
        width: 158px;
        z-index: 1;
    }
    .bg img:nth-child(2){
        position: absolute;
        z-index: 1;
        width: 158px;
        top: 21rem;
        left: -4rem;
    }
    .head p{
        
    }
    
    .content .leftSquare .one{
        text-align: center;
    }
    .one h3{
        width: 18rem;
    }
    .one p{
        width: 18rem;
    }
    .content .leftSquare .lft, .lft_2 {
        transition: 2s;
        -webkit-transition: 2s;
        -moz-transition: 2s;
        -ms-transition: 2s;
        -o-transition: 2s;
    }
    .content .RightSquare .rht, .rht_2{
        margin-left: 44rem;
        display: none;
        transition: 2s;
        -webkit-transition: 2s;
        -moz-transition: 2s;
        -ms-transition: 2s;
        -o-transition: 2s;
    }
    .content .leftSquare .lft.block {
        margin-left: 3rem;
    }
    .content .leftSquare .lft_2.block {
        margin-left: 3rem;

    }
    .content .phone img{
        display: block;
        margin: auto;
        width: 74%;
    }
    .content .RightSquare .rht {
        margin-left: 3rem;
        text-align: center;
        display: block;
    }
    .RightSquare .rht img{
        width: 12rem;
        display: block;
        margin: inherit;
    }
    .RightSquare .rht_2 img{
        width: 12rem;
        display: block;
        margin: inherit;
    }
    .content .RightSquare .rht_2 {
        margin-left: 3rem;
        text-align: center;
        display: block;
    }
    .content .RightSquare .rht.vis {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
    .content .RightSquare .rht_2.vis {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    .content .leftSquare .one img {
        width: 12rem;
        display: block;
        margin: inherit;
    }
    .rightScale {
        margin: 7rem 0px;
    }
    .countbox div div span{
        color: var(--title-color);
    
        font-size: 35px;
        font-weight: 600;
        margin-top: -21px;
        margin-left: -17px;
    }
    
    .countTop div {
        width: 100%;
        padding: 0px 15px;
    }
    .countbox div div div p {
        color: var(--title-color);
        font-size: 14px;
        font-weight: 600;
    }
    .steps .wall{
        display: none;
        margin-top: -58rem;
        margin-left: 38px;
    }
    .TopField, .MiddelField, .LastField{
        text-align: center;
        overflow-x: hidden;
    }
    .TopField{
        top: 346rem;
    }
    .FirstLeft {
        margin-top: 5rem;
    }
    .MiddelField{
        top: 381rem;
    }
    .LastField{
        top: 406rem;
        
    }
    .image{
        width: 20rem;
        margin: 50px 0px;
    }
    .choise{
        text-align: center;
    }
    .galerie{
        
    }
    .galerie img{
        width: 14rem;
    }
    .galerie .modern{
        position: absolute;
        top: -7rem;
        left: -15px;
    }
    .modern img:nth-child(1){
        width: 8rem;
        position: absolute;
        z-index: 5;
        left: 12rem;
        top: 109px;
    }
    .modern img:nth-child(2){
        width: 9rem;
        position: absolute;
        z-index: 2;
        left: 9rem;
        top: 13rem;
    }
    .modern img:nth-child(3){
        top: 22rem;
        width: 9rem;
        position: absolute;
        z-index: 2;
        left: 9rem;
    }
    .pilet .uno{
        position: absolute;
        top: -10rem;
        left: -10px;
    }
    .pilet .dou{
        position: absolute;
        top: 16rem;
        left: -6px;

    }
    .pilet .tri{
        position: absolute;
        top: 44rem;
        left: -6px;

    }
    .wall .circleImg img{
        position: relative;
        margin-left: -12px;
        margin-top: 8rem;
        width: 3rem;
    }
    .wall .circleImg h2{
        position: absolute;
        z-index: 2;
        left: 1px;
        margin-top: 139px;
        font-size: 18px;
    }
    .steps .wall .bol{
        margin-left: -7.5px;
        width: 20px;
        height: 20px;
        background-color: #32236f;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .steps .wall .pilet div:nth-child(2){
        margin-top: 6rem;
    }
    .steps .wall .pilet div:nth-child(3){
        margin-top: 6rem;
    }
    .steps .wall .pilet{
        position: relative;
        width: 2px;
        height: 59rem;
        background-color: #32236f;
        margin-bottom: 10rem;
    }
    .leftScale img:nth-child(2){
        position: absolute;
        left: 9rem;
        top: 17rem;
        width: 12rem;    
    }
    .offer div{
        padding: 30px 40px;
        max-width: 70%;
        margin: auto;
        margin-top: 2rem;
    }
    .convinced div:nth-child(1){
        margin: 2rem 0px;
        padding: 0px 38px;
    
    }
    .convinced .iphone img:nth-child(1) {
        position: relative;
        width: 9rem;
        
    }
    .convinced .iphone img:nth-child(2) {
        position: absolute;
        width: 11rem;
        left: 85px;
        top: -25px;
    }
    .convinced{
        padding-bottom: 5rem;
        text-align: center;
    }
    .email{
        text-align: center;
        padding: 40px 10px;
    }
    
    .accordium {
        margin-top: 5rem;
    }
    footer div{
        text-align: center;
    }
    .copyright{
        text-align: center;
    }
    footer{
        padding: 3rem 0;

    }
    
    .accordium.opac{
        opacity: 1;
        margin-top: 4rem;
    }
}


@media(min-width:768px){
    .Nav{
        opacity: 1;
        transition: .8s;
        -webkit-transition: .8s;
        -moz-transition: .8s;
        -ms-transition: .8s;
        -o-transition: .8s;
        z-index: 6;
    }
    .Nav.NavView{
        position: fixed;
        width: 100%;
        z-index: 6;
        background-color:#FFFFFF;
        background-color:rgba(255, 255, 255, 0.706);
        color: var(--link-color);
    }
    .NavView i{
        color: var(--link-color);
    }
    .NavView ul li a{
        color: var(--link-color);
    }
    nav .list{
        display: block;
        
    }
    nav .list li{
        display: inline-block;
        margin: -2px 3px;
    }
    .list li a{
       color: var(--link-color);
    }
    nav .fa-bars-staggered{
        display: none;

    }
    header{
        text-align: center;
        margin-bottom: 15rem;
    }
    .bg{
        width: 287px;
        height: 587px;
        margin: -4rem auto;
    }
    .head p{
        
    }
    .left{
        margin-top: 6rem;
        margin-bottom: 1rem;
        padding-top: 95px;
    }
    header .right {
        width: 26rem;
        height: 26rem;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5rem;
    }
    .bg img:nth-child(1){
        position: absolute;
        left: 370px;
        width: 158px;
        top: 166px;
        z-index: 1;
    }
    .bg img:nth-child(2){
        position: absolute;
        z-index: 1;
        width: 158px;
        top: 28rem;
        left: -11rem;
    }
    .content .leftSquare div p{
        width: 444%;
        text-align: end;
        margin-left: -4rem;
    }
    .content .leftSquare div h3{
        width: 459%;
        text-align: end;
        margin-left: -73px;
    }
    .content .RightSquare div p{
        width: 195%;
    }
    
    .content .RightSquare div h3{
        width: 167%;
    }
    .content .RightSquare div{
        width: 7rem;
    }
    .content{
        display: grid;
        grid-template-columns: 22% 49% 28%;
        margin-left: 3rem;
    }
    .content .leftSquare .lft, .lft_2 {
        transform: translateX(-500%);
        transition: 2s;
        -webkit-transition: 2s;
        -moz-transition: 2s;
        -ms-transition: 2s;
        -o-transition: 2s;
        -webkit-transform: translateX(-500%);
        -moz-transform: translateX(-500%);
        -ms-transform: translateX(-500%);
        -o-transform: translateX(-500%);
    }
    .content .RightSquare{
        overflow-x: hidden
    }
    .content .RightSquare .rht, .rht_2{
        transform: translateX(500%);
        -webkit-transform: translateX(500%);
        -moz-transform: translateX(500%);
        -ms-transform: translateX(500%);
        -o-transform: translateX(500%);
        transition: 2s;
        -webkit-transition: 2s;
        -moz-transition: 2s;
        -ms-transition: 2s;
        -o-transition: 2s;
}
    .content .leftSquare .lft.block {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    .content .leftSquare .lft_2.block {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    .desc{
        width: 70%;
    }
    .counter {
        margin-bottom: 4rem;
    }
    .counter h4{
        color: var(--title-color);
        font-size: 40px;
        font-weight: 600;
    }
    .countbox div div span{
        color: var(--title-color);

        font-size: 40px;
        font-weight: 600;
        margin-top: -34px;
        margin-left: -22px;
    }
    .countbox div div div p{
        color: var(--title-color);
    
        font-size: 20px;
        font-weight: 600;
    }
    .countTop div{
        background-color: white;
        width: 81%;
        border-radius: 12px;
        padding: 0px 25px;
        margin-top: 30px;
    }
    .content .RightSquare .rht.vis {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
    .content .RightSquare .rht_2.vis {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    .rht img{
        margin-left: -2rem;
    }
    .rht_2 img{
        margin-left: -12px;

    }
    .leftScale img:nth-child(2){ 
        position: absolute;
        left: 12rem;
        top: 9rem;
    }
    .allField{
        position: relative;
        display: block;
        margin: auto;
        width: 100%;
    }
    .TopField, .MiddelField, .LastField{
        display: flex;
        justify-content: space-between;
        overflow-x: hidden;
        position: absolute;
        align-items: center;
        width: 100%;
    }
    .TopField{
        top: -59rem;
    }
    .MiddelField{
        top: -38rem;
    }
    .TopField .FirstLeft{
        width: 30%;
    }
    .LastField .FirstLeft{
        width: 17rem;
    }
    .secndright{
        width: 17rem;
    }
    .LastField{
        top: -18rem;
        width: 100%;
    }
    
    .image{
        width: 17rem;
    }
    .galerie .modern{
        position: absolute;
        top: 6rem;
        left: 16rem;
    }
    .galerie .modern img{
        position: absolute;
    }
    .galerie .modern img:nth-child(1){
        z-index: 2;
        top: -7rem;
        left: 4rem;
    }
    .galerie .modern img:nth-child(3){
        top: 14rem;
        left: -3rem;
    }
    .wall{
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .wall .circleImg img{
        position: relative;
        margin-left: -58px;
        margin-top: 7rem;
    }
    .wall .circleImg h2{
        position: absolute;
        z-index: 2;
        left: -22px;
        margin-top: 136px;
        font-size: 45px;
        font-weight: 700;
    }
    .steps .wall .bol{
        margin-left: -7.5px;
        width: 20px;
        height: 20px;
        background-color: #32236f;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .steps .wall .pilet div:nth-child(2){
        margin-top: 6rem;
    }
    .steps .wall .pilet div:nth-child(3){
        margin-top: 6rem;
    }
    .steps .wall .pilet{
        position: relative;
        width: 4px;
        height: 52rem;
        background-color: #32236f;
        margin-bottom: 10rem;
    }
    
    .cost {
        margin-top: 10rem;
    }
    
    .cost.opac{
        opacity: 1;
        margin-top: 0;
        }

    
    .costing{
        width: 70%;
        margin: auto;
    }
    .offer div{
        width: 29%;
        padding: 60px 14px;
        margin: 60px 13px;
    }
    
    .offer div h3{
        margin: 20px 23px;
    }
    .offer div p{
        margin: 20px 5px;
        line-height: 33px;
    }
    .convinced div:nth-child(1){
        margin: 9rem 0px;
        padding: 0px 38px;
    }
    .convinced .iphone img:nth-child(1){
        position: relative;
        width: 6rem;
        margin: 6rem 0px;
    }
    .convinced .iphone img:nth-child(2){
        position: absolute;
        width: 12rem;
        left: 97px;
        top: 46px;
    }
    .convinced{
    
    }
    .email{
        padding: 40px 0px;
        display: grid;
        text-align: center;
    }
    .email input{
        width: 22rem;
        margin: 0px 2rem;
    }
    .email button{
        width: 21%;
        margin: auto;
    }
    footer{
        padding: 100px 20px;
    }
    .copyright{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .copyright h6:nth-child(1){
        margin-left: 2rem;
    }
    .copyright h6:nth-child(2){
        margin-left: 5rem;
    }
    footer{
        padding-left: 40px;
    }
    footer div ul {
        margin: 0 -2rem;
        
    }
}
@media(min-width:991px){
    nav{
        padding-right: 20px;
        padding-left: 51px;
    }
    nav .list{
        display: block;
        
    }
    nav .list li{
        display: inline-block;
    }
    nav .fa-bars-staggered{
        display: none;

    }
    nav .list li a{
        color: var(--link-color);
        margin: 0px 15px;
        font-weight: 500;
    }
    header{
        text-align: start;
    }
    nav .list li {
        margin: 0px -8px;
    }
    .left{
        margin-top: 0;
        margin-bottom: 0;
    }
    .right{
        height: 28rem;
    }
    .bg{
        height: 484px;
        width: 241px;
        margin-left: 109px;
        margin-top: -1rem;
    }
    .bg img:nth-child(1){
        position: absolute;
        left: 207px;
        width: 130px;
        top: 60px;
        z-index: 1;
    }
    .bg img:nth-child(2){
        position: absolute;
        z-index: 1;
        width: 130px;
        top: 19rem;
        left: -4rem;
    }
    .left{
        padding-top: 8rem;
    }
    .head p{
        width: 70%;
        margin: auto;
    }
    .content .leftSquare div{
        
    }
    .TopField .FirstLeft {
        width: 23%;
    }
    
    .content .leftSquare div p{
        width: 444%;
        text-align: end;
        margin-left: -4rem;
    }
    .content .leftSquare div h3{
        width: 459%;
        text-align: end;
        margin-left: -73px;
    }
    .content .RightSquare div p{
        width: 300%;
    }
    
    .content .RightSquare div h3{
        width: 167%;
    }
    .content .RightSquare div{
        width: 7rem;
    }
    .content{
        display: grid;
        grid-template-columns: 23% 39% 28%;
        margin-left: 7rem;
    }
    
    .image {
        width: 23rem;
    }
    
    .LastField .FirstLeft {
        width: 25rem;
    }
    .email{
        display: grid;
        grid-template-columns: 39% 24% 42%;
        align-items: center;
    }
    .email button{
        width: 30%;
    }
    .countTop div {
        width: 100%;
    }
    .offer div {
        width: 30%;
    }
    .cost {
        margin-top: 15rem;
    }
    .cost.opac{
        opacity: 1;
        margin-top: 2rem;
    }
    footer{
        padding-left: 47px;
        
    }
    .copyright h6:nth-child(2) {
        margin-left: 10rem;
    }
}
@media(min-width:1199px){
    nav{
        padding-right: 56px;
        padding-left: 97px;
    }
    nav .list{
        display: block;
    }
    nav .list li a{
        color: var(--link-color);
        margin: 0px 17px;
        font-weight: 500;
    }
    .right{
        height: 33rem;
    }
    .bg{
        height: 539px;
        width: 269px;
        margin-left: 140px;
    }
    .bg img:nth-child(1){
        position: absolute;
        left: 207px;
        width: 130px;
        top: 60px;
        z-index: 1;
    }
    .bg img:nth-child(2){
        position: absolute;
        z-index: 1;
        width: 130px;
        top: 19rem;
        left: -4rem;
    }
    .left{
        padding-top: 8rem;
    }

    .left h2{
        font-size: 48px;
    }
    .head p{
        width: 58%;
        margin: auto;
    }
    
    .content .leftSquare div p{
        width: 444%;
        text-align: end;
        margin-left: -4rem;
    }
    .content .leftSquare div h3{
        width: 459%;
        text-align: end;
        margin-left: -73px;
    }
    .content .RightSquare div p{
        width: 300%;
    }
    
    .content .RightSquare div h3{
        width: 167%;
    }
    .content .RightSquare div{
        width: 7rem;
    }
    .content{
        display: grid;
        grid-template-columns: 19% 39% 32%;
        margin-left: 16rem;
    }
    .cost.opac{
        opacity: 1;
        margin-top: 5rem;
    }
    
    .image {
        width: 26rem;
    }
    
    .email{
        grid-template-columns: 44% 18% 42%;
    }
    .offer div {
        width: 31%;
    }
    footer{
        padding-left: 88px;
        
    }
    .copyright h6:nth-child(2) {
        margin-left: 19rem;
    }
}
























nav{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 20px;
    padding-left: 51px;
}
nav .list li .Free{
    background-color: #6a49f2;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
header{
    background-color: var(--bg-color);
}

header .left h2{
    font-weight: 700;
    color: #32236f;
}
header .left span{
    color: #6a49f2;
}
.head {
    margin-top: 5rem;
    
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.head.show{
    margin-top: -5rem;

    opacity: 1;

}
.head h2{
    color: #32236f;
    font-size: 40px;
    font-weight: 700;
}
.head span{
    color: #6a49f2;
}
.head p{
    color: #747493;
    line-height: 24px;
    font-size: 20px;
}
.left p{
    color: #747493;
    line-height: 24px;
}
.use{
    margin-bottom: 5rem;
    background-color: var(--bg-color);
}
.user p{
    width: 80px;
}
.right{
    border-radius: 50%;
    background-color: var(--text-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.bg{
    margin: -3rem auto;
    display: block;
    z-index: 2;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid;
    border-radius: 60px;
    background-image: url("../images/screen-4-home.webp");
}
.bg{
    animation: Slide 8s infinite ease;
    -webkit-animation: Slide 8s infinite ease;
}
@keyframes Slide {
    25%{
        background-image: url("../images/screen-2-home.webp");
    }
    50%{
        background-image: url("../images/screen-3-home.webp");
    }
    75%{
        background-image: url("../images/screen-4-home.webp");
    }
    100%{
        background-image: url("../images/screen1e.webp");
    }
}

.content{
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.content div div{
    width: 25%;
}
.counter{
    background-color: #f6f4fe;
}
.counter h4{
    color: var(--title-color);
    
}



.leftScale{
    position: relative;
    margin: 80px 0px;
}

.leftScale .img2{
    animation: down 5s infinite  ease;
    -webkit-animation: down 5s infinite  ease;
}
.leftScale .img1{
    animation: up 5s infinite  ease;
    -webkit-animation: up 5s infinite  ease;
}
@keyframes up{
    25%{
        transform: translateY(10%);
        -webkit-transform: translateY(10%);
        -moz-transform: translateY(10%);
        -ms-transform: translateY(10%);
        -o-transform: translateY(10%);
}
    
    50%{
        transform: translateY(5%);
        -webkit-transform: translateY(5%);
        -moz-transform: translateY(5%);
        -ms-transform: translateY(5%);
        -o-transform: translateY(5%);
}
    75%{
        transform: translateY(5%);
        -webkit-transform: translateY(5%);
        -moz-transform: translateY(5%);
        -ms-transform: translateY(5%);
        -o-transform: translateY(5%);
}
    90%{
        transform: translateY(10%);
        -webkit-transform: translateY(10%);
        -moz-transform: translateY(10%);
        -ms-transform: translateY(10%);
        -o-transform: translateY(10%);
}
}
@keyframes down{
    25%{
        transform: translateY(5%);
        -webkit-transform: translateY(5%);
        -moz-transform: translateY(5%);
        -ms-transform: translateY(5%);
        -o-transform: translateY(5%);
}
    
    50%{
        transform: translateY(10%);
        -webkit-transform: translateY(10%);
        -moz-transform: translateY(10%);
        -ms-transform: translateY(10%);
        -o-transform: translateY(10%);
}
    75%{
        transform: translateY(10%);
        -webkit-transform: translateY(10%);
        -moz-transform: translateY(10%);
        -ms-transform: translateY(10%);
        -o-transform: translateY(10%);
}
    90%{
        transform: translateY(5%);
        -webkit-transform: translateY(5%);
        -moz-transform: translateY(5%);
        -ms-transform: translateY(5%);
        -o-transform: translateY(5%);
}

}

.rightScale h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--title-color);
}
.rightScale span{
    color: var(--text-color);
}
.box{
    overflow-x: hidden;
}
.child{
    width: 555px;
    height: 222px;
    transform: translateX(511%);
    transition: 2s ;
    -webkit-transition: 2s ;
    -moz-transition: 2s ;
    -ms-transition: 2s ;
    -o-transition: 2s ;
    -webkit-transform: translateX(511%);
    -moz-transform: translateX(511%);
    -ms-transform: translateX(511%);
    -o-transform: translateX(511%);
}
.child:nth-of-type(even){
    transform: translateX(511%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-transform: translateX(-511%);
    -moz-transform: translateX(511%);
    -ms-transform: translateX(511%);
    -o-transform: translateX(511%);
}
.child.view{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

.rightScale button{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: none;
    color: white;
    background-color: var(--text-color);
    padding: 12px 30px;
    margin-top: 1rem;
    font-weight: bolder;

}


.steps{
}


.steps h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--title-color);
}
.steps span{
    color: var(--text-color);
}
.costing h3, span{
    font-size: 40px;
    font-weight: 700;
    color: var(--title-color);
}
.costing p{
    color:#545577
}

.countTop div{
    background-color: white;
    
    border-radius: 12px;
    margin-top: 30px;
}
.fa-circle-check{
    color: var(--text-color);
    font-size: 24px;
}
.ceckIcon p{
    color: var(--title-color);
    font-weight: 500;
}

.galerie img{
    animation: down 5s infinite  ease;
    -webkit-animation: down 5s infinite  ease;
}
.galerie .modern{
    animation: up 5s infinite  ease;
    -webkit-animation: up 5s infinite  ease;
}


.FirstLeft{
    transform: translateX(-105%);
    -webkit-transform: translateX(-105%);
    -moz-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    -o-transform: translateX(-105%);
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
.FirstRight{
    transform: translateX(+105%);
    -webkit-transform: translateX(+105%);
    -moz-transform: translateX(+105%);
    -ms-transform: translateX(+105%);
    -o-transform: translateX(+105%);
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
.FirstLeft.center{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
.FirstRight.center{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
.secndleft.center{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
.secndright.center{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
.thrdleft.center{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
.thrdright.center{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
.cost{
    background-color: var(--bg-color);
}

.menu div{
    text-align: center;
    font-weight: bolder;
    color: white;
    background-color: var(--title-color);
    padding: 6px 19px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.offer div{
    border-radius: 10px;
    color: var(--text-color);
    
    background-color: white;
    border: 1px solid var(--text-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.offer div:nth-child(3){
    color: white;
    background-color: var(--text-color);
}
.offer div button{
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: white;
    padding: 10px 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.offer div button:hover{
    background-color: var(--text-color);
    color: white;
}
.accordium{
    background-color: var(--bg-color);
    margin-bottom: 5rem;
}

.accordium .contentBx{
    padding: 10px 20px;
    position: relative;
}
.contentBx .question{
    color: var(--title-color);
    padding: 10px;
    background-color: white;
    cursor: pointer;
}
.contentBx .question::before{
    content: "+";
    position: absolute;
    right: 40px;
    top: 10px;
    font-size: 30px;

}
.contentBx.active  .question::before{
    content: "-";
    position: absolute;
    right: 40px;
    top: 10px;
    font-size: 30px;

}
.contentBx .answer{
    transition: .5s ease;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.contentBx.active .answer {
    height: auto;
    overflow: visible;
    color: #545577;
    background-color: white;
    padding: 20px 30px;
}
.contentBx div{
    border-radius: 5px 0px 5px 0px;
    -webkit-border-radius: 5px 0px 5px 0px;
    -moz-border-radius: 5px 0px 5px 0px;
    -ms-border-radius: 5px 0px 5px 0px;
    -o-border-radius: 5px 0px 5px 0px;
}

.convinced{
    
    border-radius: 20px;
    color: white;
    background-color: var(--text-color);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.convinced .iphone{
    position: relative;
}
.convinced div button{
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: white;
    padding: 10px 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.convinced div button:hover{
    background-color: var(--text-color);
    color: white;
}
.email{
    margin: 2rem auto;
    color: white;
    background-color: var(--text-color);
    border-radius: 15px;
}
.email input, button{
    border: none;
    font-weight: 600;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: white;
    margin: 10px 0px;
    padding: 10px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.email button:hover{
    background-color: var(--text-color);
    color: white;
}

footer{
    color: white;
    background-color: #583bd3;
    width: 100%;
    margin: 0;
}
footer div ul{
    list-style: none;
}
footer div ul li{
    margin: 40px 0px;

}
footer div ul li a{
    color: white;
    text-decoration: none;
}
.copyright{
    background-color: #6a49f2;
    color: white;
    padding: 15px;
}
.email button{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.scrollTop{
    position: fixed;
    top: 43rem;
    z-index: 10;
    right: 17px;
    width: 6rem;
    opacity: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.scrollTop.scrollview{
    
    opacity: 1;
}

.accordium h2{
    color: var(--title-color);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.accordium  p{
    color: var(--text-color);
    text-align: center;
    font-weight: 600;
    
}
.accordium  p{
    color: var(--main-color);
    font-size: 16px;

    font-weight: 600;
}
.counter .rightScale div div div img{
    width: 3rem;
}



.cost, .accordium, .convinced, .email{
    opacity: 0;
    transition: 2s;
    -webkit-transition: 2S;
    -moz-transition: 2S;
    -ms-transition: 2S;
    -o-transition: 2S;
}
.cost {
    margin-top: 32rem;
    
}
.accordium {
    margin-top: 12rem;
}
.accordium{
    margin-top: 26rem;


}
.email{
    margin-top: 15rem;
}


.convinced.opac{
    opacity: 1;
    margin-top: 0;
}
.email.opac{
    opacity: 1;
    margin-top: 1rem;
}
footer div ul li a:hover{
    transition: .5s;
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    
}


.contentBx .question{
    padding: 21px 24px;
    background-color: white;
    cursor: pointer;
    border-radius: 12px;
}
.question.questBg{
    background-color: #583bd3;
    color: #dfdfdf;
}