*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

body{
    height: 300rem;

}
:root{
    --main-color:#545579;
    --text-color:#6a49f2;
    --title-color:#32236f;
    --pargraph-color: #747493;
    --bg-color:#f6f4fe;
    --link-color:#3e3f66;
    }
    
@media(max-width:767px){
    
    nav .list{
        display: none;
    }
    nav .fa-bars-staggered{
        display: block;
    }
    nav .list{
        display: none;
        width: 93%;
        top: 20px;
        position: absolute;
        background-color: rgb(206, 206, 206);
        padding: 20px 15px;
        box-shadow: 0 4px 10px #EDE9FE;
        border-radius: 15px;
        z-index: 5;
    }
    nav .list.blk{
        display: block;
        
    }
    nav .list li{
        margin-bottom: 0.5rem;
        margin-left: 1rem;
    }
    nav .list li .Free{
        margin-top: 5px;
    }
    header{
        text-align: center;
        margin-bottom: 11rem;
    }
    .left h2{
        font-size: 30px;
    }
    .right{
        height: 26rem;
    }
    .bg{
        width: 266px;
        height: 532px;
        margin: auto;
    }
    .bg img:nth-child(1){
        position: absolute;
        left: 174px;
        top: 59px;
        width: 158px;
        z-index: 1;
    }
    .bg img:nth-child(2){
        position: absolute;
        z-index: 1;
        width: 158px;
        top: 21rem;
        left: -4rem;
    }
    
    .head p{
        
    }
}


@media(min-width:768px){
    nav .list{
        display: block;
        
    }
    nav .list li{
        display: inline-block;
    }
    nav .fa-bars-staggered{
        display: none;

    }
    header{
        text-align: center;
        margin-bottom: 5rem;
    }
    .bg{
        width: 389px;
        height: 806px;
        margin: auto;
    }
    .head p{
        
    }
    .bg img:nth-child(1){
        position: absolute;
        left: 370px;
        width: 158px;
        top: 166px;
        z-index: 1;
    }
    .bg img:nth-child(2){
        position: absolute;
        z-index: 1;
        width: 158px;
        top: 28rem;
        left: -11rem;
    }
}
@media(min-width:991px){
    nav .list{
        display: block;
        
    }
    nav .list li{
        display: inline-block;
    }
    nav .fa-bars-staggered{
        display: none;

    }
    nav .list li a{
        color: var(--link-color);
        margin: 0px 15px;
        font-weight: 500;
    }
    header{
        text-align: start;
    }
    .right{
        height: 28rem;
    }
    .bg{
        height: 484px;
        width: 241px;
        margin-left: 109px;
    }
    .bg img:nth-child(1){
        position: absolute;
        left: 207px;
        width: 130px;
        top: 60px;
        z-index: 1;
    }
    .bg img:nth-child(2){
        position: absolute;
        z-index: 1;
        width: 130px;
        top: 19rem;
        left: -4rem;
    }
    .left{
        padding-top: 8rem;
    }
    .head p{
        width: 70%;
        margin: auto;
    }
}
@media(min-width:1199px){
    nav .list{
        display: block;
    }
    nav .list li a{
        color: var(--link-color);
        margin: 0px 17px;
        font-weight: 500;
    }
    .right{
        height: 33rem;
    }
    .bg{
        height: 539px;
        width: 269px;
        margin-left: 140px;
    }
    .bg img:nth-child(1){
        position: absolute;
        left: 207px;
        width: 130px;
        top: 60px;
        z-index: 1;
    }
    .bg img:nth-child(2){
        position: absolute;
        z-index: 1;
        width: 130px;
        top: 19rem;
        left: -4rem;
    }
    .left{
        padding-top: 8rem;
    }

    .left h2{
        font-size: 48px;
    }
    .head p{
        width: 58%;
        margin: auto;
    }

}
nav .list li .Free{
    background-color: #6a49f2;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

header .left h2{
    font-weight: 700;
    color: #32236f;
}
header .left span{
    color: #6a49f2;
}
.head {
    opacity: 0;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}
.head.show{
    opacity: 1;

}
.head h2{
    color: #32236f;
    font-size: 40px;
    font-weight: 700;
}
.head span{
    color: #6a49f2;
}
.head p{
    color: #747493;
    line-height: 24px;
    font-size: 20px;
}
.left p{
    color: #747493;
    line-height: 24px;
}

.user p{
    width: 80px;
}
.right{
    border-radius: 50%;
    background-color: var(--text-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.bg{
    z-index: 2;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid;
    border-radius: 60px;
    background-image: url("/images/screen-4-home.webp");
    
}
.bg{
    animation: Slide 8s infinite ease;
    -webkit-animation: Slide 8s infinite ease;

}
@keyframes Slide {
    25%{
        background-image: url("/images/screen-2-home.webp");
    }
    50%{
        background-image: url("/images/screen-3-home.webp");
    }
    75%{
        background-image: url("/images/screen-4-home.webp");
    }
    100%{
        background-image: url("/images/screen1e.webp");
    }
}
