*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}


:root{
    --main-color:#545579;
    --text-color:#6a49f2;
    --title-color:#32236f;
    --pargraph-color: #747493;
    --bg-color:#f6f4fe;
    --link-color:#3e3f66;
    }
    
@media(max-width:767px){
    
    nav ul{
        display: none;
    }
    nav .fa-bars-staggered{
        display: block;
        

    }
    nav ul{
        display: block;
        width: 93%;
        top: 20px;
        position: absolute;
        background-color: rgb(206, 206, 206);
        padding: 20px 15px;
        box-shadow: 0 4px 10px #EDE9FE;
        border-radius: 15px;
    }
    nav ul li{
        margin-bottom: 0.5rem;
        margin-left: 1rem;
    }
    nav ul li .Free{
        margin-top: 5px;
    }
    
}


@media(min-width:768px){
    nav ul{
        display: block;
        
    }
    nav ul li{
        display: inline-block;
    }
    nav .fa-bars-staggered{
        display: none;

    }
    
}
@media(min-width:991px){
    nav ul{
        display: block;
        
    }
    nav ul li{
        display: inline-block;
    }
    nav .fa-bars-staggered{
        display: none;

    }
    nav ul li a{
        color: var(--link-color);
        margin: 0px 15px;
        font-weight: 500;
}
}
@media(min-width:1199px){
    nav ul{
        display: block;
        
    }
    nav ul li a{

        color: var(--link-color);
        margin: 0px 17px;
        font-weight: 500;
}
}
nav ul li .Free{
    background-color: #6a49f2;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
